* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    padding: 8px;
}

button {
    border: none;
    border-radius: 5px;
    background:cornflowerblue;
    color: #fff;
    padding: 1%;
    cursor: pointer;
}

button[disabled] {
    background: lightgrey;
    cursor: auto;
}

#frequentHeader button {
    background: rgb(139, 213, 139)
}

input {
    padding: 1%;
    font-size: 14px;
}

.main {
    display: flex;
    flex-direction: column;
}

.form {
    flex: .7;
    border: 1px solid lightgray;
    margin: 2px;
    padding: 10px;
}

.stats {
    flex: .3;
    border: 1px solid lightgray;
    margin: 2px;
    padding: 10px;
}

.form *, .stats * {
    margin: 5px;
}

/* #selectedDate {
    margin-left: auto;
    margin-right: auto;
} */

.subHeading {
    padding-right: 18px;
}

.error {
    color: red;
}

ul {
    padding: 10px 0px 10px 0px;
    list-style: none;
    font-size: 20px;
}

.total {
    padding-top: 20px;
}

@media only screen and (min-width: 600px) {
    .main {
        flex-direction: row;
    }

    .stats {
        text-align: left;
    }
}